<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>

    <%- include('_header') %>
    
   

    <div class="container">
        <div class="main">
            <div class="head">
                <h1>Issue Tracer</h1>
                <form action="">
                    <input type="submit" value="Add project">
                </form>

            </div>
            <div class="project">
                <h2>project</h2>
            </div>
            
        </div>
        <div class="side">
            <div class="profile">
                <form action="">
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>

    <%- include('_footer') %>
</body>
</html>