*{
    padding: 0%;
    margin: 0%;
}

footer{
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
    height: 30vh;
}
footer div{
    width: 30%;
    /* border: 2px solid red; */
}
li{
    list-style: none;
}
ul{
    margin-top: 2vh;
    margin-left: 1vh;
}