p,h1{
    margin: 0%;
    padding: 0%;
}
*{
    margin: 0%;
    padding: 0%;
}

.container{
    display: flex;
    flex-direction: row;
    /* background-color: brown; */
    height: 100vh;
    justify-content: space-evenly;
}
.main{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 80%;
}
.head{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    justify-content: space-evenly;
    height: 10vh;
    align-items: center;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.side{
    border: 2px solid red;
    width: 17%;
}